extends emailBase

block content
  p Hi #{firstName},
  p Forgot your password❔❔❔ Submit your new password to our website to get your new brand password!
  p Submit here: #{url}
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Submit your new password
  p If you don't forget your password, please ignore this email!
